.idea/
TODO.md
ZERN.egg-info
dist/
/build/
build/lib
build/lib/examples/
build/lib/examples/example_speed.py
.idea/*.xml
.coverage

tests/__pycache__/*
zern/__pycache__/*

examples/*.py
examples/*.ipynb
examples/.ipynb_checkpoints

docs/*